<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>shop products </title>
    <div th:replace="fragments/header :: header-import"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="./"><img src="img/logo.png"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="cart.html">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="shop.html">Shop page</a></li>
                    <li><a href="single-product.html">Single product</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Others</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <form  th:object="${productData}" th:action="@{/addproduct}"
                   method="POST" enctype="multipart/form-data">
                <table style="text-align:left;">
                    <tr>
                        <td>Code *</td>
                        <td style="color:red;">
                            <input th:field="*{newProduct}" type="hidden" />
                            <input th:if="${productData.newProduct}" type="text" th:field="*{code}" />
                            <th:block th:if="${!productData.newProduct}">
                                <span th:utext="${productData.code}"></span>
                                <input type="hidden" th:field="*{code}" />
                            </th:block>
                        </td>
                        <td>
                            <span class="error-message" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">..</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Name *</td>
                        <td><input th:field="*{name}"/></td>
                        <td>
                            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Price *</td>
                        <td><input th:field="*{price}"  /></td>
                        <td>
                            <span class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">..</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Upload Image</td>
                        <td><input type="file" name="picture" /></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="submit" value="Submit" />
                            <input type="reset" value="Reset" />
                        </td>
                    </tr>
                </table>
            </form>

        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer"/>
<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script src="js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script src="js/main.js"></script>
</body>
</html>